{% if tag.bgcolor or tag.fgcolor %}
    <a href="{{ path('public_tag_article_index', { 'slug': tag.slug }) }}"
       class="inline-flex items-center rounded-full px-2 py-1 text-center text-xs font-semibold transition bg-[--badge-bg] text-[--badge-fg] hover:ring-[--badge-bg] hover:ring"
       style="--badge-bg: {{ tag.bgcolor }}; --badge-fg: {{ tag.fgcolor }};"
    >
        {{ tag.name|upper }}
    </a>
{% else %}
    <a href="{{ path('public_tag_article_index', { 'slug': tag.slug }) }}"
       class="inline-flex items-center rounded-full bg-slate-500 px-2 py-1 text-center text-xs font-semibold text-slate-100 transition hover:ring hover:ring-slate-500"
       style="--badge-bg: {{ tag.bgcolor }}; --badge-fg: {{ tag.fgcolor }};"
    >
        {{ tag.name|upper }}
    </a>
{% endif %}