{{ form_start(form) }}

<div class="flex flex-col gap-4 flex-wrap justify-center mt-4 content-center">
    <div class="flex flex-col">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {
            'class': 'w-full mt-4 rounded-md border border-gray-300 px-2 py-2 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50',
        }}) }}
        {{ form_errors(form.name) }}
    </div>
    <div>
        {{ form_label(form.fgColor) }}
        {{ form_widget(form.fgColor, {'attr': {
            'class': 'w-full mt-4 rounded-md border border-gray-300 px-2 py-2 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50',
        }}) }}
        {{ form_errors(form.fgColor) }}
    </div>
    <div>
        {{ form_label(form.bgColor) }}
        {{ form_widget(form.bgColor, {'attr': {
            'class': 'w-full mt-4 rounded-md border border-gray-300 px-2 py-2 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50',
        }}) }}
        {{ form_errors(form.bgColor) }}
    </div>
</div>

<div class="mt-8 flex gap-2 justify-center">
    <button class="rounded bg-slate-50 px-4 py-2 font-medium transition hover:bg-slate-600 hover:text-white text-sm">{{ button_label|default('Save category') }}</button>
</div>
{{ form_end(form) }}
