{% extends 'base.html.twig' %}

{% set title = "Categories" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="mx-auto mt-16 w-full max-w-screen-2xl grow p-4">
        <h1 class="my-12 text-center text-5xl font-medium text-slate-900 font-rajdhani">{{ title }}</h1>

        <div class="flex justify-end pb-4">
            <a class="rounded bg-slate-50 px-4 py-2 font-medium transition hover:bg-slate-600 hover:text-white text-sm self-center" href="{{ path('app_category_new') }}">Create new</a>
        </div>

        <div class="overflow-scroll rounded-lg border border-gray-200 shadow-md max-w-">
            <table class="w-full border-collapse bg-white text-left text-sm text-gray-500 table-auto">
                <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">id</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Background color</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Foreground color</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900 text-center">Actions</th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                {% for category in categories %}
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4 text-xs whitespace-nowrap">#{{ category.id }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ category.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex gap-2">
                                <span class="rounded-full border-2 inline-flex p-2" style="background-color: {{ category.bgColor }}"></span>
                                {{ category.bgColor }}
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex gap-2">
                                <span class="rounded-full border-2 inline-flex p-2" style="background-color: {{ category.fgColor }}"></span>
                                {{ category.fgColor }}
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex justify-center gap-4">
                                <a title="Edit" href="{{ path('app_category_edit', {'id': category.id}) }}">
                                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 transition hover:stroke-blue-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"/>
                                    </svg>
                                </a>
                                {{ include('category/_delete_index_btn.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="px-6 py-4 text-center" colspan="5">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {{ knp_pagination_render(categories) }}
        </div>
    </main>
{% endblock %}
