{% set mainLinks = [
    {
        'title': 'Dashboard',
        'routeName': 'admin_dashboard',
        'relatedRoutes': ['admin_dashboard'],
        'granted': true,
        'role': 'IS_AUTHENTICATED',
    },
    {
        'title': 'Articles',
        'routeName': 'public_article_index',
        'relatedRoutes': ['public_article_index', 'public_article_search'],
    },
    {
        'title': 'Tags',
        'routeName': 'public_tags_index',
        'relatedRoutes': ['public_tags_index'],
    },
] %}
{% set userLinks = [
    {
        'title': 'Dashboard',
        'routeName': 'admin_dashboard',
        'granted': true,
        'role': 'IS_AUTHENTICATED',
    }
] %}
{% set linkClassList = 'bg-slate-200 dark:bg-slate-100/20' %}
<header class="fixed z-10 w-full bg-slate-100/95 shadow transition dark:bg-slate-950/95" x-data="{ mainMenu: false, userMenu: false }">
    {# Desktop menu #}
    <div class="mx-auto max-w-7xl px-2 dark:divide-slate-700 sm:px-4 lg:divide-y lg:divide-slate-200 lg:px-8">
        <div class="relative flex h-16 justify-between">
            <a href="{{ path('public_article_index') }}"
               class="relative z-10 flex px-2 focus:border-slate-300 focus:outline-none focus:ring-2
               focus:ring-slate-200 focus:ring-opacity-50 lg:px-0"
            >
                <div class="flex flex-shrink-0 items-center">
                    <svg class="w-8 fill-slate-900 transition hover:fill-slate-500 dark:fill-slate-100 dark:hover:fill-slate-400" viewBox="0 0 576 512">
                        <path d="M542.22 32.05c-54.8 3.11-163.72 14.43-230.96 55.59-4.64 2.84-7.27 7.89-7.27 13.17v363.87c0 11.55 12.63 18.85 23.28 13.49 69.18-34.82 169.23-44.32 218.7-46.92 16.89-.89 30.02-14.43 30.02-30.66V62.75c.01-17.71-15.35-31.74-33.77-30.7zM264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31.01 0 45.04 0 62.75V400.6c0 16.24 13.13 29.78 30.02 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63c0-5.29-2.62-10.14-7.27-12.99z"/>
                    </svg>
                </div>
            </a>
            <div class="relative z-0 flex flex-1 items-center justify-center px-2 sm:absolute sm:inset-0">
                <div class="w-full sm:max-w-xs">
                    <form method="get" action="{{ path('public_article_search') }}">
                        <label for="search" class="sr-only">Search</label>
                        <div class="relative">
                            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                <svg class="h-5 w-5 text-slate-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <input id="search" name="q"
                                   placeholder="Search articles.." type="search"
                                   class="block w-full rounded-md border border-slate-300 bg-slate-100 px-2 py-2 pr-3
                                   pl-10 text-slate-900 shadow-sm transition focus:border-slate-400 focus:ring-2
                                   focus:ring-slate-400 focus:ring-opacity-50 dark:border-slate-700 dark:bg-slate-800
                                   dark:text-slate-100"
                            >
                        </div>
                    </form>
                </div>
            </div>
            <div class="relative z-10 flex items-center lg:hidden">
                <button class="inline-flex items-center justify-center rounded-md p-2 text-slate-400 hover:bg-slate-100
                               hover:text-slate-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-slate-500
                               hover:dark:bg-slate-600 hover:dark:text-slate-100"
                        type="button"
                        aria-controls="mobile-menu"
                        aria-expanded="false"
                        @click="mainMenu = !mainMenu"
                >
                    <span class="sr-only">Open menu</span>
                    <svg x-show="!mainMenu" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                    <svg x-show="mainMenu" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>
            <div class="hidden lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center">
                <button type="button"
                        @click="darkMode = !darkMode"
                        class="flex-shrink-0 rounded-full bg-slate-100 p-1 focus:border-slate-300 focus:outline-none
                               focus:ring-2 focus:ring-slate-300 focus:ring-opacity-50 dark:bg-slate-900"
                >
                    <span class="sr-only">Toggle theme light/dark</span>
                    <svg class="h-6 w-6 fill-slate-900 transition dark:fill-slate-100" viewBox="0 0 26 26" fill="none">
                        <path x-show="darkMode"
                              d="M12 3C12 3.55228 12.4477 4 13 4C13.5523 4 14 3.55228 14 3H12ZM14 1C14 0.447715 13.5523 0 13 0C12.4477 0 12 0.447715 12 1H14ZM12 25C12 25.5523 12.4477 26 13 26C13.5523 26 14 25.5523 14 25H12ZM14 23C14 22.4477 13.5523 22 13 22C12.4477 22 12 22.4477 12 23H14ZM3 14C3.55228 14 4 13.5523 4 13C4 12.4477 3.55228 12 3 12V14ZM1 12C0.447715 12 0 12.4477 0 13C0 13.5523 0.447715 14 1 14V12ZM23 12C22.4477 12 22 12.4477 22 13C22 13.5523 22.4477 14 23 14V12ZM25 14C25.5523 14 26 13.5523 26 13C26 12.4477 25.5523 12 25 12V14ZM5.29289 6.70711C5.68342 7.09763 6.31658 7.09763 6.70711 6.70711C7.09763 6.31658 7.09763 5.68342 6.70711 5.29289L5.29289 6.70711ZM4.70711 3.29289C4.31658 2.90237 3.68342 2.90237 3.29289 3.29289C2.90237 3.68342 2.90237 4.31658 3.29289 4.70711L4.70711 3.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM20.7071 19.2929C20.3166 18.9024 19.6834 18.9024 19.2929 19.2929C18.9024 19.6834 18.9024 20.3166 19.2929 20.7071L20.7071 19.2929ZM19.2929 5.29289C18.9024 5.68342 18.9024 6.31658 19.2929 6.70711C19.6834 7.09763 20.3166 7.09763 20.7071 6.70711L19.2929 5.29289ZM22.7071 4.70711C23.0976 4.31658 23.0976 3.68342 22.7071 3.29289C22.3166 2.90237 21.6834 2.90237 21.2929 3.29289L22.7071 4.70711ZM3.29289 21.2929C2.90237 21.6834 2.90237 22.3166 3.29289 22.7071C3.68342 23.0976 4.31658 23.0976 4.70711 22.7071L3.29289 21.2929ZM6.70711 20.7071C7.09763 20.3166 7.09763 19.6834 6.70711 19.2929C6.31658 18.9024 5.68342 18.9024 5.29289 19.2929L6.70711 20.7071ZM20 13C20 16.866 16.866 20 13 20V22C17.9706 22 22 17.9706 22 13H20ZM13 20C9.13401 20 6 16.866 6 13H4C4 17.9706 8.02944 22 13 22V20ZM6 13C6 9.13401 9.13401 6 13 6V4C8.02944 4 4 8.02944 4 13H6ZM13 6C16.866 6 20 9.13401 20 13H22C22 8.02944 17.9706 4 13 4V6ZM14 3V1H12V3H14ZM14 25V23H12V25H14ZM3 12H1V14H3V12ZM23 14H25V12H23V14ZM6.70711 5.29289L4.70711 3.29289L3.29289 4.70711L5.29289 6.70711L6.70711 5.29289ZM22.7071 21.2929L20.7071 19.2929L19.2929 20.7071L21.2929 22.7071L22.7071 21.2929ZM20.7071 6.70711L22.7071 4.70711L21.2929 3.29289L19.2929 5.29289L20.7071 6.70711ZM4.70711 22.7071L6.70711 20.7071L5.29289 19.2929L3.29289 21.2929L4.70711 22.7071Z"/>
                        <path x-show="!darkMode" fill-rule="evenodd" clip-rule="evenodd"
                              d="M24.1327 19.7375C20.3033 26.0521 11.846 27.8985 5.24274 23.8613C1.2496 21.42 3.22118 20.0593 6.25056 17.9687C8.2307 16.6021 10.6628 14.9236 12.1764 12.4276C13.6901 9.93157 14.0588 6.99157 14.3589 4.59789C14.8181 0.935855 15.117 -1.44748 19.1101 0.993872C25.7134 5.03101 27.962 13.4228 24.1327 19.7375ZM22.4225 18.7004C19.2129 23.9931 12.0211 25.6614 6.28598 22.155C5.69788 21.7954 5.34707 21.5161 5.14723 21.3205C5.32307 21.1364 5.59519 20.901 5.99949 20.5969C6.39962 20.296 6.85229 19.9835 7.37717 19.6212C7.48063 19.5498 7.58754 19.476 7.69676 19.4004C8.34174 18.9541 9.0599 18.45 9.78127 17.8857C11.2191 16.7609 12.7523 15.335 13.8866 13.4647C15.0206 11.5947 15.578 9.57341 15.9129 7.77572C16.081 6.87363 16.1974 6.00197 16.2962 5.22178C16.313 5.08947 16.3291 4.96081 16.3448 4.83554C16.4245 4.20097 16.4932 3.65333 16.5758 3.1579C16.6583 2.66374 16.7406 2.31486 16.8221 2.07304C17.0862 2.16315 17.4897 2.34732 18.0669 2.70023C23.806 6.20905 25.6356 13.4021 22.4225 18.7004ZM4.95818 21.5544C4.95813 21.5544 4.95874 21.5531 4.96021 21.5505L4.95818 21.5544Z"/>
                        <path x-show="!darkMode" fill-rule="evenodd" clip-rule="evenodd" d="M7.28884 1.34164C6.55179 -0.132456 4.44818 -0.132458 3.71113 1.34164L3.25463 2.25464L2.34163 2.71115C0.86753 3.44819 0.867528 5.55181 2.34163 6.28885L3.25463 6.74536L3.71113 7.65836C4.44818 9.13246 6.55179 9.13246 7.28884 7.65836L7.74534 6.74536L8.65835 6.28885C10.1324 5.55181 10.1324 3.44819 8.65835 2.71115L7.74534 2.25464L7.28884 1.34164ZM5.04348 3.14907L5.49999 2.23607L5.95649 3.14907C6.15001 3.53613 6.46386 3.84997 6.85091 4.0435L7.76392 4.5L6.85091 4.9565C6.46386 5.15003 6.15001 5.46387 5.95649 5.85093L5.49999 6.76393L5.04348 5.85093C4.84996 5.46387 4.53611 5.15003 4.14906 4.9565L3.23605 4.5L4.14906 4.0435C4.53611 3.84997 4.84996 3.53613 5.04348 3.14907Z"/>
                    </svg>
                </button>

                {# User nav dropdown #}
                <div class="relative ml-4 flex-shrink-0">
                    <button id="user-menu-button" aria-expanded="false" aria-haspopup="true" type="button"
                            @click="userMenu = !userMenu"
                            class="flex rounded-full focus:border-slate-300 focus:outline-none focus:ring-2
                                   focus:ring-slate-300 focus:ring-opacity-50"
                    >
                        <span class="sr-only">Open user menu</span>
                        <svg class="h-8 w-8 rounded-full fill-slate-900 dark:fill-slate-100" viewBox="0 0 24 24">
                            <path d="M12 12q-1.65 0-2.825-1.175T8 8q0-1.65 1.175-2.825T12 4q1.65 0 2.825 1.175T16 8q0 1.65-1.175 2.825T12 12Zm-8 8v-2.8q0-.85.438-1.563T5.6 14.55q1.55-.775 3.15-1.163T12 13q1.65 0 3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20H4Z"/>
                        </svg>
                    </button>

                    <div class="bg-slate-100 dark:bg-slate-700 absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md
                                py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
                                [&>*]:block [&>*]:transition [&>*]:rounded [&>*]:px-4 [&>*]:py-2 [&>*]:text-sm [&>*]:text-slate-900
                                dark:[&>*]:text-slate-100 hover:[&>*]:bg-slate-300 dark:hover:[&>*]:bg-slate-100/20"

                         role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
                         x-show="userMenu" @click.outside="userMenu = false"
                         x-transition:enter="transition ease-out duration-100"
                         x-transition:enter-start="transform opacity-0 scale-95"
                         x-transition:enter-end="transform opacity-100 scale-100"
                         x-transition:leave="transition ease-in duration-75"
                         x-transition:leave-start="transform opacity-100 scale-100"
                         x-transition:leave-end="transform opacity-0 scale-95"
                    >
                        {% for navLink in userLinks %}
                            {% if navLink.needAuth is defined and navLink.role is defined and navLink.needAuth %}
                                {% if is_granted(navLink.role) %}
                                    <a role="menuitem" tabindex="-1" href="{{ path(navLink.routeName) }}">{{ navLink.title }}</a>
                                {% endif %}
                            {% elseif navLink.role is defined %}
                                {% if not is_granted(navLink.role) %}
                                    <a role="menuitem" tabindex="-1" href="{{ path(navLink.routeName) }}">{{ navLink.title }}</a>
                                {% endif %}
                            {% else %}
                                <a role="menuitem" tabindex="-1" href="{{ path(navLink.routeName) }}">{{ navLink.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {# Main nav #}
        <nav aria-label="Global"
             class="hidden lg:space-x-8 lg:flex lg:py-3 [&>*]:inline-flex [&>*]:items-center [&>*]:rounded-md [&>*]:px-3
                    [&>*]:py-2 [&>*]:text-sm [&>*]:font-medium [&>*]:text-slate-900 hover:[&>*]:bg-slate-300
                    hover:[&>*]:text-slate-900 [&>*]:transition dark:[&>*]:text-slate-100 dark:hover:[&>*]:bg-slate-100/30"
        >
            {% for navLink in mainLinks %}
                {% if navLink.needAuth is defined and navLink.role is defined and navLink.needAuth %}
                    {% if is_granted(navLink.role) %}
                        <a href="{{ path(navLink.routeName) }}" {{ isPageActive(navLink.relatedRoutes, linkClassList)|raw }}>{{ navLink.title }}</a>
                    {% endif %}
                {% elseif navLink.role is defined %}
                    {% if not is_granted(navLink.role) %}
                        <a href="{{ path(navLink.routeName) }}" {{ isPageActive(navLink.relatedRoutes, linkClassList)|raw }}>{{ navLink.title }}</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path(navLink.routeName) }}" {{ isPageActive(navLink.relatedRoutes, linkClassList)|raw }}>{{ navLink.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
    {# Mobile menu #}
    <nav class="lg:hidden" aria-label="Global" id="mobile-menu"
         x-show="mainMenu" @click.outside="mainMenu = false"
         x-transition:enter="transition ease-out duration-100"
         x-transition:enter-start="transform opacity-0 scale-95"
         x-transition:enter-end="transform opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75"
         x-transition:leave-start="transform opacity-100 scale-100"
         x-transition:leave-end="transform opacity-0 scale-95"
    >
        {# Main nav #}
        <div class="px-2 pt-2 pb-3 space-y-1 [&>*]:block [&>*]:rounded-md [&>*]:px-3 [&>*]:py-2 [&>*]:text-base
                    [&>*]:font-medium [&>*]:text-slate-900 hover:[&>*]:bg-slate-300 hover:[&>*]:text-slate-900
                    [&>*]:transition dark:[&>*]:text-slate-100 dark:hover:[&>*]:bg-slate-100/30"
        >
            {% for navLink in mainLinks %}
                {% if navLink.needAuth is defined and navLink.role is defined and navLink.needAuth %}
                    {% if is_granted(navLink.role) %}
                        <a href="{{ path(navLink.routeName) }}" {{ isPageActive(navLink.relatedRoutes, linkClassList)|raw }}>{{ navLink.title }}</a>
                    {% endif %}
                {% elseif navLink.role is defined %}
                    {% if not is_granted(navLink.role) %}
                        <a href="{{ path(navLink.routeName) }}" {{ isPageActive(navLink.relatedRoutes, linkClassList)|raw }}>{{ navLink.title }}</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path(navLink.routeName) }}" {{ isPageActive(navLink.relatedRoutes, linkClassList)|raw }}>{{ navLink.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {# User nav #}
        <div class="border-t border-slate-300 pt-4 pb-3 dark:border-slate-600">
            <div class="mt-3 px-2 space-y-1 [&>*]:block [&>*]:rounded-md [&>*]:px-3 [&>*]:py-2 [&>*]:text-base
                        [&>*]:font-medium [&>*]:text-slate-900 hover:[&>*]:bg-slate-300 hover:[&>*]:text-slate-900
                        [&>*]:transition dark:[&>*]:text-slate-100 dark:hover:[&>*]:bg-slate-100/30"
            >
                {% for navLink in userLinks %}
                    {% if navLink.needAuth is defined and navLink.role is defined and navLink.needAuth %}
                        {% if is_granted(navLink.role) %}
                            <a href="{{ path(navLink.routeName) }}">{{ navLink.title }}</a>
                        {% endif %}
                    {% elseif navLink.role is defined %}
                        {% if not is_granted(navLink.role) %}
                            <a href="{{ path(navLink.routeName) }}">{{ navLink.title }}</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path(navLink.routeName) }}">{{ navLink.title }}</a>
                    {% endif %}
                {% endfor %}
                <button type="button"
                        @click="darkMode = !darkMode"
                        class="flex rounded-full bg-slate-100 p-1 focus:border-slate-400 focus:outline-none focus:ring-2
                               focus:ring-slate-200 focus:ring-opacity-50 dark:bg-slate-900"
                >
                    <span x-text="darkMode ? 'Theme Light' : 'Theme Dark'"></span>
                    <svg class="inline-flex h-6 w-6 fill-slate-900 transition dark:fill-slate-100" viewBox="0 0 26 26" fill="none">
                        <path x-show="darkMode"
                              d="M12 3C12 3.55228 12.4477 4 13 4C13.5523 4 14 3.55228 14 3H12ZM14 1C14 0.447715 13.5523 0 13 0C12.4477 0 12 0.447715 12 1H14ZM12 25C12 25.5523 12.4477 26 13 26C13.5523 26 14 25.5523 14 25H12ZM14 23C14 22.4477 13.5523 22 13 22C12.4477 22 12 22.4477 12 23H14ZM3 14C3.55228 14 4 13.5523 4 13C4 12.4477 3.55228 12 3 12V14ZM1 12C0.447715 12 0 12.4477 0 13C0 13.5523 0.447715 14 1 14V12ZM23 12C22.4477 12 22 12.4477 22 13C22 13.5523 22.4477 14 23 14V12ZM25 14C25.5523 14 26 13.5523 26 13C26 12.4477 25.5523 12 25 12V14ZM5.29289 6.70711C5.68342 7.09763 6.31658 7.09763 6.70711 6.70711C7.09763 6.31658 7.09763 5.68342 6.70711 5.29289L5.29289 6.70711ZM4.70711 3.29289C4.31658 2.90237 3.68342 2.90237 3.29289 3.29289C2.90237 3.68342 2.90237 4.31658 3.29289 4.70711L4.70711 3.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM20.7071 19.2929C20.3166 18.9024 19.6834 18.9024 19.2929 19.2929C18.9024 19.6834 18.9024 20.3166 19.2929 20.7071L20.7071 19.2929ZM19.2929 5.29289C18.9024 5.68342 18.9024 6.31658 19.2929 6.70711C19.6834 7.09763 20.3166 7.09763 20.7071 6.70711L19.2929 5.29289ZM22.7071 4.70711C23.0976 4.31658 23.0976 3.68342 22.7071 3.29289C22.3166 2.90237 21.6834 2.90237 21.2929 3.29289L22.7071 4.70711ZM3.29289 21.2929C2.90237 21.6834 2.90237 22.3166 3.29289 22.7071C3.68342 23.0976 4.31658 23.0976 4.70711 22.7071L3.29289 21.2929ZM6.70711 20.7071C7.09763 20.3166 7.09763 19.6834 6.70711 19.2929C6.31658 18.9024 5.68342 18.9024 5.29289 19.2929L6.70711 20.7071ZM20 13C20 16.866 16.866 20 13 20V22C17.9706 22 22 17.9706 22 13H20ZM13 20C9.13401 20 6 16.866 6 13H4C4 17.9706 8.02944 22 13 22V20ZM6 13C6 9.13401 9.13401 6 13 6V4C8.02944 4 4 8.02944 4 13H6ZM13 6C16.866 6 20 9.13401 20 13H22C22 8.02944 17.9706 4 13 4V6ZM14 3V1H12V3H14ZM14 25V23H12V25H14ZM3 12H1V14H3V12ZM23 14H25V12H23V14ZM6.70711 5.29289L4.70711 3.29289L3.29289 4.70711L5.29289 6.70711L6.70711 5.29289ZM22.7071 21.2929L20.7071 19.2929L19.2929 20.7071L21.2929 22.7071L22.7071 21.2929ZM20.7071 6.70711L22.7071 4.70711L21.2929 3.29289L19.2929 5.29289L20.7071 6.70711ZM4.70711 22.7071L6.70711 20.7071L5.29289 19.2929L3.29289 21.2929L4.70711 22.7071Z"/>
                        <path x-show="!darkMode" fill-rule="evenodd" clip-rule="evenodd"
                              d="M24.1327 19.7375C20.3033 26.0521 11.846 27.8985 5.24274 23.8613C1.2496 21.42 3.22118 20.0593 6.25056 17.9687C8.2307 16.6021 10.6628 14.9236 12.1764 12.4276C13.6901 9.93157 14.0588 6.99157 14.3589 4.59789C14.8181 0.935855 15.117 -1.44748 19.1101 0.993872C25.7134 5.03101 27.962 13.4228 24.1327 19.7375ZM22.4225 18.7004C19.2129 23.9931 12.0211 25.6614 6.28598 22.155C5.69788 21.7954 5.34707 21.5161 5.14723 21.3205C5.32307 21.1364 5.59519 20.901 5.99949 20.5969C6.39962 20.296 6.85229 19.9835 7.37717 19.6212C7.48063 19.5498 7.58754 19.476 7.69676 19.4004C8.34174 18.9541 9.0599 18.45 9.78127 17.8857C11.2191 16.7609 12.7523 15.335 13.8866 13.4647C15.0206 11.5947 15.578 9.57341 15.9129 7.77572C16.081 6.87363 16.1974 6.00197 16.2962 5.22178C16.313 5.08947 16.3291 4.96081 16.3448 4.83554C16.4245 4.20097 16.4932 3.65333 16.5758 3.1579C16.6583 2.66374 16.7406 2.31486 16.8221 2.07304C17.0862 2.16315 17.4897 2.34732 18.0669 2.70023C23.806 6.20905 25.6356 13.4021 22.4225 18.7004ZM4.95818 21.5544C4.95813 21.5544 4.95874 21.5531 4.96021 21.5505L4.95818 21.5544Z"/>
                        <path x-show="!darkMode" fill-rule="evenodd" clip-rule="evenodd" d="M7.28884 1.34164C6.55179 -0.132456 4.44818 -0.132458 3.71113 1.34164L3.25463 2.25464L2.34163 2.71115C0.86753 3.44819 0.867528 5.55181 2.34163 6.28885L3.25463 6.74536L3.71113 7.65836C4.44818 9.13246 6.55179 9.13246 7.28884 7.65836L7.74534 6.74536L8.65835 6.28885C10.1324 5.55181 10.1324 3.44819 8.65835 2.71115L7.74534 2.25464L7.28884 1.34164ZM5.04348 3.14907L5.49999 2.23607L5.95649 3.14907C6.15001 3.53613 6.46386 3.84997 6.85091 4.0435L7.76392 4.5L6.85091 4.9565C6.46386 5.15003 6.15001 5.46387 5.95649 5.85093L5.49999 6.76393L5.04348 5.85093C4.84996 5.46387 4.53611 5.15003 4.14906 4.9565L3.23605 4.5L4.14906 4.0435C4.53611 3.84997 4.84996 3.53613 5.04348 3.14907Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
</header>
