{% extends 'admin/base.html.twig' %}

{% set title = "Edit tag: " ~ tag.name %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ vite_entry_link_tags('coloris') }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('coloris') }}
{% endblock %}

{% block body %}
    <main class="mx-auto w-full max-w-screen-lg grow p-4">
        <div class="flex justify-end gap-2">
            <a class="self-center rounded bg-slate-100 px-4 py-2 text-sm font-medium transition hover:bg-slate-600 hover:text-slate-100 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-slate-100" href="{{ path('admin_tag_index') }}">Back to Tags</a>
            <div class="flex content-center py-2">
                {{ include('admin/tag/_delete_form.html.twig') }}
            </div>
        </div>

        <h1 class="mt-4 mb-12 inline-flex text-center text-4xl font-medium text-slate-900 dark:text-slate-100">{{ title }}</h1>

        {{ include('admin/tag/_form.html.twig') }}
    </main>
{% endblock %}
