{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<main class="mx-auto mt-16 w-full max-w-screen-lg grow p-4">
    <article id="article-{{ article.uid }}" class="article">
        <header>
            <h1 class="my-12 text-5xl font-medium text-slate-900 font-rajdhani">{{ article.title }}</h1>
        </header>

        <section class="relative mt-8 rounded-lg border border-slate-200 bg-slate-50 p-4 pt-16 shadow-md">
            <div class="absolute top-4 right-4 flex gap-2">
                <a title="Edit" href="{{ path('app_article_edit', {'id': article.id}) }}">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 transition hover:stroke-blue-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"/>
                    </svg>
                </a>
                {{ include('article/_delete_index_btn.html.twig') }}
            </div>

            <section class="italic">
                {{ article.headingContent|markdownify }}
            </section>

            <section>
                {{ article.content|markdownify }}
            </section>
        </section>

        <footer class="mt-4 rounded-lg border border-slate-200 bg-slate-50 p-4 shadow-md">
            <div class="text-xs flex flex-col mt-4">
                <div class="grow flex flex-wrap gap-1">
                    {% for category in categories %}
                        {% if category.bgcolor or category.fgcolor %}
                            <span class="text-xs badge badge-color" style="--badge-bg: {{ category.bgcolor }}; --badge-fg: {{ category.fgcolor }};">{{ category.name|upper }}</span>
                        {% else %}
                            <span class="text-xs badge badge-color">{{ category.name|upper }}</span>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="mt-4 flex flex-col text-right text-slate-400 sm:mt-0">
                    <span>Published: <time datetime="{{ article.createdAt|date("c", "Europe/Paris") }}">{{ article.createdAt|date("m/d/Y H:i", "Europe/Paris") }}</time></span>
                    {% if article.updatedAt != article.createdAt %}
                        <span>Last edit: <time datetime="{{ article.createdAt|date("c", "Europe/Paris") }}">{{ article.createdAt|date("m/d/Y H:i", "Europe/Paris") }}</time></span>
                    {% endif %}
                </div>
            </div>
        </footer>
    </article>
</main>
{% endblock %}

